---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <main class="page-container">

    <section class="hero">
      <h1>Nandoski666</h1>
      <h2>Hernando Javier Garcia Mogollon</h2>

      <p>
        Desarrollador Fullstack enfocado en aplicaciones web,
        sistemas empresariales y proyectos tecnológicos modernos.
      </p>

      <p>
        Aquí comparto mis proyectos, aprendizajes y evolución como desarrollador.
      </p>
    </section>

  </main>
</BaseLayout>